rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    match /app_state/main {
      allow read: if true;
      allow write: if signedIn();
    }
  }
}
