PORT=3000
MP_ACCESS_TOKEN=
BASE_URL=http://localhost:3000
PORT=3000
API_URL=http://localhost:3000

FRONTEND_URL=http://127.0.0.1:5500
# Em produção:
# FRONTEND_URL=https://equipezero-web.github.io

MERCADOPAGO_ACCESS_TOKEN=TEST-COLE_SEU_ACCESS_TOKEN
MERCADOPAGO_WEBHOOK_SECRET=COLE_A_CHAVE_SECRETA_DO_WEBHOOK

FIREBASE_PROJECT_ID=seu-projeto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@seu-projeto-firebase.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA\n-----END PRIVATE KEY-----\n"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=seu-email@gmail.com
EMAIL_PASSWORD=SUA_SENHA_DE_APLICATIVO
EMAIL_FROM="L&A Royal Advisory <seu-email@gmail.com>"
